<div class="flex-block justify-center align-center w-full">
  <div class="flex justify-center align-center my-4">
    <h1 class="font-bold text-4xl text-gray-900">Exercise 3</h1>
  </div>

  <div class="w-11/12 border-2 rounded-sm shadow-md py-20 bg-cyan-100 px-12 mx-auto" style="min-height: 500px">

    <div class="my-2 flex justify-center gap-5 mb-10">
      <input type="button" class="border border-blue-400 px-4 py-1 rounded-md cursor-pointer hover:bg-cyan-600 hover:text-white duration-300" value="Home"  routerLink="/">
      <input type="button" class="border border-blue-400 px-4 py-1 rounded-md cursor-pointer hover:bg-cyan-600 hover:text-white duration-300" value="Book"  routerLink="/book">
      <input type="button" class="border border-blue-400 px-4 py-1 rounded-md cursor-pointer hover:bg-cyan-600 hover:text-white duration-300" value="Blog"  routerLink="/blog">
      <input type="button" class="border border-blue-400 px-4 py-1 rounded-md cursor-pointer hover:bg-cyan-600 hover:text-white duration-300" value="Profile"  routerLink="/profile">
    </div>

    <router-outlet></router-outlet>

  </div>
</div>





